.sidebard-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background: #fff;
  border-right: #eaeaea 1px solid;
  box-shadow: -9.88px 1px 23px #d0d0d0;
  width: 140px;
  min-height: 100vh;
}

.sidebard-container ul {
  padding: 0;
  padding-top: 50px;
  text-align: center;
}

.sidebard-container ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 12px;
  cursor: pointer;
}

.sidebard-container ul li * {
  align-self: center;
  margin: 12px 0;
}