.map { 
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 5%;
  right: 5%;
  text-align: center;
}

@media (max-width: 414px) {
  .map{
    margin: 0 20px;
    top: 0;
    left: -50%;
  }
}